.body{
    background: rgb(224, 221, 221);
    margin-top: 0px;
}
.divcontener{
    border:  1px solid black;
    width: 30%;
    margin: auto;
    margin-top: 200px;
    background: white;
    text-align:center;
    padding: 20px;
}